<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.benfactory.light"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/light"
        android:label="@string/app_name"
        android:theme="@style/HoloDarkTheme" >
        <activity
            android:name="com.benfactory.light.LightActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".SettingsActivity" 
            android:label="@string/settings"
            android:parentActivityName="com.benfactory.light.LightActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">            
        </activity>
        
        <activity android:name=".Settings2Activity" 
            android:label="@string/settings"
            android:parentActivityName="com.benfactory.light.LightActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">            
        </activity>
        
        <activity android:name=".MoreInfoActivity" 
            android:theme="@style/FullscreenTheme"
            android:label="@string/more_info"
            android:parentActivityName="com.benfactory.light.LightActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">    
        </activity>
        
        <activity android:name=".SupportMeActivity" 
            android:label="@string/give_me_a_beer"
            android:parentActivityName="com.benfactory.light.LightActivity"
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden">    
        </activity>
        
    </application>

</manifest>